body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.joueur {
  width: 20em;
  height: 25em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.joueurCar {
  width: 20em;
  height: 25em;
  border: 3px solid black;
  border-radius: 10px;
  position: absolute;
  top: 10em;
  right: 40%;
}

.transition {
  transition: all 2s ease;
}
.historique {
  width: 50%;
  border: 3px solid #7fffd4;
  border-bottom: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.choixCombat {
  width: 49%;
  height: 10em;
  border: 3px solid #ff3333;
  position: absolute;
  bottom: 0px;
}

.adversaire {
  width: 25em;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  top: 10em;
  right: 40%;
  background-color: white;
}

.amelioration {
  width: 20em;
  height: 16em;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  right: 1%;
}

h2 {
  text-align: center;
  border-bottom: solid 2px black;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  color: black;
}

.pointer {
  cursor: pointer;
}

.btn {
  width: 32.2%;
  height: 75%;
  /* Mettre la police en gras */
  font-weight: 400;
  font-size: large;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.bouttons {
  display: inline;
  margin: 1%;
}

.bg-red {
  background-color: red;
  color: white;
}

.none {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 10px;
}

li {
  list-style: none;
}

.playerCar {
  display: flex;
}
.playerImg {
  margin-left: 5%;
  margin-right: 2%;
  width: 42px;
}

#playerHealth,
#enemyHealth {
  position: relative;
  height: 30px;
  width: 250px;
  border: white 3px solid;
  border-radius: 3px;
  margin-right: 20px;
  display: inline-block;
  border: 1px solid black;
  margin-left: 10%;
}

#playerHealthBar,
#enemyHealthBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightgreen;
  display: inline-block;
}
